@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    font-family: 'Work Sans', sans-serif;
}
nav{
    background: transparent; 
    z-index: 12;
    width:100%;
    position: absolute;
    padding:20px 0px;  
    position:fixed;
    @media screen and (max-width: 992px) {
        height:80px;
        width: 100% ;
        
     }
        .content{
        @include flex;
        width: 100%;
        @media screen and (max-width: 992px) {
            width: 100% !important;
            flex-direction: row;
         }
         .icon {
            display: none;
            text-decoration: none;
            @media screen and (max-width: 992px) {
                display:block;
            }
             i{
                display: none;
                @media screen and (max-width: 992px) {
                    display:block;
                }
             }
          }
          
        a{
            font-size: 20px;
            font-weight :900;
            font-family: 'Work Sans', sans-serif;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-attachment :scroll;
            background-image: url(../img/logo-bg.jpg);
            background-size: cover;
            background-position-x :50%;
            background-position-y: 50%;
            background-size: cover;
            line-height :20px;
            text-transform: uppercase;
        }
    ul{
        @include flex;
        width: 50%;
        @media screen and (max-width: 992px) {
            background-color: #1F1F1F;
            padding: 20px;
            text-align: center;
            display: none;
         }
        
        li{
            list-style: none;
            a{
                display: inline-block;
                color: $font-color;
                text-align: center;
                font-size: 13px;
                font-weight: 400;
            //padding: 20px 50px 20px 0px;
            text-decoration: none;
            &:hover{
                color: $hover-font-color;
            }
            @media screen and (max-width: 992px) {
                padding: 20px;
                text-align: center;
             }
            }
            button{
                    height: 60px;
                    width: 180px;
                
            }

        }
    }
}
}
.header{
    .cover,.cover1,.cover2{
        background-image: url(../img/bg_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        height: 100vh;
        color:white;
        .overlay{
            background-color: rgba(0, 0, 0, .9);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            .container{
                box-sizing: border-box;
                //max-width: 40%;
                .content{
                    max-width: 100%;
                    @include flex;
                    margin-top: 50px;
                    flex-direction: column;
                    @media screen and (max-width: 992px) {
                        max-width: 100%;
                     }
                        h1{
                            font-family: "Work Sans", Arial, sans-serif;
                            background-image: url(../img/bg_1.jpg);
                            background-attachment: fixed;
                            background-position: 50% 50%;
                            text-align: center;
                            font-size: 300px;
                            color: #fff;
                            font-weight: 900;
                            text-transform: uppercase;
                            line-height: .8;
                            overflow: hidden;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            -moz-background-clip: text;
                            -moz-text-fill-color: transparent;
                            background-size: cover;
                            background-repeat: no-repeat;
                        @media screen and (max-width: 992px) {
                            font-size: 30px;
                            line-height: 55px;
                         }
                        }
                p{
                    margin-bottom: 30px;
                    font-size: 14px;
                    font-weight: 900;
                    text-transform: uppercase;
                    color: white;
                    letter-spacing: 5px;
                    line-height: 1.4;
                }
            }   
        }
        
    }
    }
}
.pricing-for-courses{
    background-color: black;
    padding: 105px 0px;
    .content{
        @include flex;
        flex-direction: column;
        .description{
            @include flex;
            flex-direction: column;
            width: 100%;
            .color-header{
                margin-bottom: 10px;
                background-image:$linear-gradient;
                background-position: 0% 0%;
                background-attachment :scroll;
                background-clip :text;
                font-size :13px;
                font-weight: 400;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
                position: relative;
                text-align: center;
                .after{
                    position: absolute;
                    top: -5px;
                    left: -15px;
                    width: 5px;
                    height: 22px;
                    background-image:$linear-gradient;
                    content: '';
                    &:after{
                        position: absolute;
                        left: -8px;
                        width: 5px;
                        height: 22px;
                        content: '';
                        background-image:$linear-gradient;
                    }
                    &::before{
                        position: absolute;
                        top: 2px;
                        left: -16px;
                        width: 5px;
                        height: 18px;
                        content: '';
                        display: block;
                        background-image:$linear-gradient;
                    }
                }
                .before{
                    position: absolute;
                    top: -5px;
                    right: -15px;
                    width: 5px;
                    height: 22px;
                    background-image:$linear-gradient;
                    display: block;
                    content: '';
                    &:after{
                        position: absolute;
                        right: -8px;
                        width: 5px;
                        height: 22px;
                        content: '';
                        background-image:$linear-gradient;
                    }
                    &::before{
                        position: absolute;
                        top: 2px;
                        right: -16px;
                        width: 5px;
                        height: 18px;
                        content: '';
                        background-image:$linear-gradient;
                    }
                }
            }
            h2{
                margin-bottom: 16px;
                color: white;
                font-size: 34px;
                font-weight: 700;
            }
            p{
                font-size: 15px;
                margin-bottom: 16px;
                color: $p-color;
            }
        }
        .enroll-now{
            @include flex;
            width: 100%;
            .enroll-div{
                &:first-child,&:nth-child(2),&:nth-child(3){
                    background-image: url(../img/program-1.jpg);
                    background-size: cover;
                    background-position-x :50%;
                    background-position-y :50%;
                    height: 500px;
                    width: calc(95%/3);
                    box-sizing: border-box !important;
                    @include flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    padding: 24px;
                    border: 1px solid black;
                    box-sizing: border-box;
                    position: relative;
                    @media screen and (max-width: 992px) {
                        width: 100%;
                        margin-bottom: 20px;
                     }
                    &:hover{   
                        border:1px solid $hover-font-color ;
                        box-sizing: border-box !important;
                        .before-hover{
                           display: none;
                        }
                        .after-hover{
                            display: block;
                        }
                    }
                    .before-hover{
                        display: block;
                        h3{
                            font-size: 20px;
                            font-weight: 700;
                            margin-bottom: 8px;
                            color: white;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            color: $p-color;
                        }
                    }
                    .after-hover{
                        display: none;
                        .btns{
                            position: absolute;
                            top:0px;
                            right:0px;
                            button{
                                color: white;
                            }
                        }
                        div{
                            span{
                                display: block;
                                margin-bottom: 10px;
                                background-image:$linear-gradient;
                                background-position: 0% 0%;
                                background-attachment :scroll;
                                background-clip :text;
                                font-size :34px;
                                font-weight: 800;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                -moz-background-clip: text;
                                -moz-text-fill-color: transparent;
                            }
                            a{
                                font-size :20px;
                                font-weight: 700;
                                color: white;
                                text-decoration: none;
                            }
                            p{
                                font-size: 15px;
                                font-weight :400;
                                color: $p-color;
                            }
                        }
                    }
                }
                &:nth-child(2){
                    background-image: url(../img/program-2.jpg);
                }
                &:nth-child(3){
                    background-image: url(../img/program-3.jpg);
                }
            }
        }
    }
}
.fitness{
    background-color: black;
    .content{
        @include flex;
        img{
            width: 50%;
            height: 1096px;
            @media screen and (max-width: 992px) {
                width: 100%;
             }
        }
        .fitness-description{
            width: 47%;
            @media screen and (max-width: 992px) {
                width: 100%;
             }
            .fitness-description-div{
                @include flex;
                margin-bottom: 40px;
                align-items: flex-start;
                opacity: 0;
                        transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                        opacity .3s .25s ease-out;
                        &:nth-child(2){
                            transition-delay: 0.4s;          
                          } 
                          &:nth-child(3){
                            transition-delay: 0.6s;          
                          }
                          &:nth-child(4){
                            transition-delay: 0.8s;          
                          }
                          &:nth-child(5){
                            transition-delay: 1s;          
                          }
                @media screen and (max-width: 992px) {
                    flex-direction: row;
                 }
                &:last-child{
                    margin-bottom: 0px;
                }
                .img{
                    
                    color: blanchedalmond;
                    background-image: $linear-gradient;
                    margin-left: 20px;
                    border-radius: 50%;
                    padding: 20px;
                    img{
                        height: 40px;
                        width: 40px;
                    }
                }
                .desc{
                    text-align: right;
                    h2{
                        margin-bottom: 8px;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 800;
                        color: white;
                    }
                    p{
                        font-size: 15px;
                        line-height: 1.8;
                        font-weight: 400;
                        color: $p-color;
                    }
                }
            }
        }
    }
}
.counter-section{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/bg_4.jpg");
    background-attachment :fixed;
    background-size: cover;
    padding: 50px 0px;
    .content{
        @include flex;
        padding: 0px 200px;
        @media screen and (max-width: 992px) {
            padding: 0px;
         }
        .counter-div{
            text-align: center;
            h2{
                font-weight: 900;
                font-size: 50px;
                color: #fff;
                line-height: 1.8;
            }
            p{
                background-image:$linear-gradient;
                background-position: 0% 0%;
                background-attachment :scroll;
                background-clip :text;
                font-size :13px;
                font-weight: 400;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
            }
        }
    }
}

.our-coaches{
    .content{
        .description-trainer{
            p{
                width: 634px;
                font-weight: 400;
                text-align: center;
            }
        }
        .trainer{
            margin-top: 48px;
            @include flex;
            align-items: flex-start;
            flex-wrap: wrap;
            img{
                height: 492px;
                width:25%;
                @media screen and (max-width: 992px) {
                    width: 100%;
                 }
            }
            .bio{
                width:25%;
                padding: 24px 48px;
                @media screen and (max-width: 992px) {
                    width: 100%;

                 }
                h3{
                    display: block;
                    margin-bottom: 20px;
                    background-image:$linear-gradient;
                    background-position: 0% 0%;
                    background-attachment :scroll;
                    background-clip :text;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 13px;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                    position: relative;
                    &:after{
                        content: '';
                        background-image:$linear-gradient;
                        height: 1px;
                        width: 100px;
                        position: absolute;
                        top:21px;
                        left: 0;
                    }
                }
                h2{
                    line-height: 1.4;
                    color: white;
                    font-weight: 400;
                    font-size: 24px;
                }
                p{
                    font-size: 15px;
                    line-height: 1.8;
                    font-weight: 400;
                    color: $p-color;
                }
                .social{
                    margin-top: 24px;
                    @include flex;
                    @media screen and (max-width: 992px) {
                        flex-direction: row;
                     }
                    a{
                        background-image: $linear-gradient;
                        height: 60px;
                        width: 60px;
                        position: relative;
                        opacity: 0;
                        transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                        opacity .3s .25s ease-out;
                        &:nth-child(2){
                            transition-delay: 0.6s;          
                          } 
                          &:nth-child(3){
                            transition-delay: 1s;          
                          }
                        i{
                            color: white;
                            position: absolute;
                            top:50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

.testimonial{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/bg_4.jpg");
    background-attachment :fixed;
    background-size: cover;
    .owl-carousel{
        .owl-nav{
            visibility: hidden;
        }
        .owl-dots{
            position: relative;
            top:-150px;
            transform: translate(50%,50%);
            .active{
                span{
                    background-image: $linear-gradient !important;  
                }  
            }
            .owl-dot{
                span{
                    background-color: rgba(255,255,255,0.2);
                }

            }
        }
        .cover,.cover1,.cover2{
            position: relative;
            height: 100vh;
            color:white;
                .container{
                    justify-content: center;
                display: flex;
                flex-direction: column;
                    box-sizing: border-box;
                    .content{
                        max-width: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        @media screen and (max-width: 992px) {
                            max-width: 100%;
                         }
                         .coach-img{
                            position: relative;
                             img{
                                 height: 150px;
                                 width: 150px;
                                 border-radius: 50%;
                                 object-fit:inherit;
                             }
                             span{
                                 background-image: $linear-gradient;
                                 padding:10px;
                                 height: 50px;
                                 width: 50px;
                                 border-radius: 50%;
                                 position: absolute;
                                 right: 0px;
                                 bottom: -10px;
                                 i{
                                     color: white;
                                     position: absolute;
                                     top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                 }
                             }
                         }
                         p{
                            margin: 40px 0px;
                            font-size: 15px;
                            line-height: 1.8;
                            font-weight: 400;
                            color: $p-color;
                            text-align: center;
                        }
                         h2{
                             font-size: 18px;
                             font-weight: 800;
                             color: white;
                             text-transform: uppercase;
                         }
                         h3{
                            display: block;
                            margin-top: 20px;
                            background-image:$linear-gradient;
                            background-position: 0% 0%;
                            background-attachment :scroll;
                            background-clip :text;
                            font-weight: 500;
                            text-transform: uppercase;
                            font-size: 13px;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            -moz-background-clip: text;
                            -moz-text-fill-color: transparent;
                         }
                }   
            }
            
        }
    } 
}

.read-articles{
    .content{
        .recent-blog{
            @include flex;
            align-items: flex-start;
            width: 100%;
            margin-top: 60px;
            .recent-blog-div{
                width: 31%;
                opacity: 0;
                        transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                        opacity .3s .25s ease-out;
                        &:nth-child(2){
                            transition-delay: 0.6s;          
                          } 
                          &:nth-child(3){
                            transition-delay: 1s;          
                          }
                @media screen and (max-width: 992px) {
                    width: 100% !important;
                 }
                img{
                    width: 100%;
                    margin-bottom: 20px;
                }
                .recent-blog-description{
                    @include flex;
                    align-items: flex-start;
                    @media screen and (max-width: 992px) {
                        flex-direction: row;
                     }
                    .date{
                        h3{
                            font-size: 44px;
                            font-weight: 700;
                            //line-height: 1.3;
                            display: block;
                            background-image:$linear-gradient;
                            background-position: 0% 0%;
                            background-attachment :scroll;
                            background-clip :text;
                            text-transform: uppercase;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            -moz-background-clip: text;
                            -moz-text-fill-color: transparent;
                        }
                        span{
                            color:rgba(255,255, 255, 0.7);
                            font-size: 13px;
                            text-transform: uppercase;
                            text-align: center !important;
                            line-height: 1.8;
                            font-weight: 400;
                            &:last-child{
                                letter-spacing: 4px;
                            }
                        }
                    }
                    .description{
                        align-items: flex-start;
                        a{
                            text-align: left;
                            text-decoration: none;
                            color: white;
                            font-size: 18px;
                            margin-bottom: 16px;
                            font-weight: 600;
                        }
                        p{
                            font-size: 15px;
                            line-height: 1.8;
                            font-weight: 400;
                            color: $p-color;
                        }
                    }
                }
            }
        }
    }
}
.contact-us{
    background-color: black;
    .content{
        @include flex;
        width: 100%;
        img{
            width: 45%;
            @media screen and (max-width: 992px) {
                width: 100%;
                margin-bottom: 20px;
             }
        }
        .contact-us-content{
            width: 45%;
            @media screen and (max-width: 992px) {
                width: 100%;
                margin-bottom: 20px;
             }
            .desc{
                h2{
                    font-size: 34px;
                    font-weight: 700;
                    position: relative;
                    text-transform: uppercase;
                    margin-bottom: 16px;
                    color: white;
                    @media screen and (max-width: 992px) {
                        font-size: 30px;
                     }
                }
                p{
                    font-size: 15px;
                    line-height: 1.8;
                    font-weight: 400;
                    color: $p-color;
                }
            }
            form{
                @include flex;
                flex-wrap: wrap;
                input{
                    color: white;
                    width: 45%;
                    height: 58px !important;
                    @media screen and (max-width: 992px) {
                        width: 100%;
                     }
                }
                input[type="text"],textarea{
                    background: #000;
                    margin-bottom: 10px;
                    border: transparent !important;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
                    height: 58px !important;
                    background: transparent !important;
                    color: rgba(255, 255, 255, 0.9) !important;
                    font-size: 13px;
                    width: 45%;
                    box-sizing: border-box;
                    @media screen and (max-width: 992px) {
                        width: 100%;
                     }
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.9) !important;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
.gallary{
    .content{
        @include flex;
        a{ 
            width: 25%;
            position: relative;
            opacity: 0;
                        transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                        opacity .3s .25s ease-out;
                        &:nth-child(2){
                            transition-delay: 0.4s;          
                          } 
                          &:nth-child(3){
                            transition-delay: 0.6s;          
                          }
                          &:nth-child(4){
                            transition-delay:0.8s;          
                          }
            @media screen and (max-width: 992px) {
                width: 100%;
             }
            i{
                display: none;
                color: white;
                    position: absolute;
                    z-index: 555;
                    top: 50%;
                    right: 50%;
                    background-color: $hover-font-color;
                    padding: 10px;
            }
            &:hover{
                i{
                    display: block;
                    color: white;
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%,50%);
                    background-color: $hover-font-color;
                    padding: 20px;
                    transform: rotate(45deg);
                }
            }
            img{
                width: 100%;
                height: 300px;
            }
        }
    }
}
footer{
    background: #000;
    padding: 112px 0px;
    .content{
        @include flex;
        align-items: flex-start;
        width: 100%;
        h2{
            margin-bottom: 40px;
            font-size: 16px;
            font-weight: 900;
            color: white;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        .about-us{
            width: 25%;
            @media screen and (max-width: 992px) {
                width: 100%;
                margin-bottom: 20px;
             }
            h2{}
            p{
                color: $p-color;
                font-size: 16px;
                line-height: 1.8;
                font-weight: 400;
            }
            .social{
                margin-top: 50px;
                @include flex;
                width: 60%;
                @media screen and (max-width: 992px) {
                    flex-direction: row;
                    margin-top: 30px;
                 }
                a{
                    height: 50px;
                    width: 50px;
                    position: relative;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.1);
                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: white;
                        transform: translate(-50%, -50%);
                        font-size: 26px;

                    }
                }
            }
        }
        .recent-blog{
            width: 35%;
            @media screen and (max-width: 992px) {
                width: 100%;
                margin-bottom: 20px;
             }
            h2{}
            .blog{
                @include flex;
                align-items: flex-start;
                margin-bottom: 15px;
                @media screen and (max-width: 992px) {
                    flex-direction: row;
                 }
                img{
                    height: 80px;
                    width: 80px;
                    margin-right: 20px;
                }
                .details{
                    a{
                        font-size: 16px;
                        font-weight: 300;
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.7);
                    }
                    ul{
                        width: 80% !important;
                        @media screen and (max-width: 992px) {
                            width: 100% !important;
                            flex-direction: row;
                         }
                        li{
                            a{
                                font-size: 12px !important;
                                color: rgba(255, 255, 255, 0.7);
                                i{
                                    color: $p-color;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }

        }
        .services{
            width: 15%;
            @media screen and (max-width: 992px) {
                width: 100%;
                margin-bottom: 20px;
             }
            h2{}
            a{
                display: block;
                color: $p-color;
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
        .have-a-questions{
            width: 20%;
            @media screen and (max-width: 992px) {
               width: 100%;
               margin-bottom: 20px;
             }
            h2{}
            .contacts{
                font-size: 16px;
                margin-bottom: 15px;
                @include flex;
                align-items: flex-start;
                justify-content: flex-start;
                @media screen and (max-width: 992px) {
                    flex-direction: row;
                 }
                i{
                    color: white;
                    margin-right: 10px;
                }
                a{
                    color: $p-color;
                    text-decoration: none;
                }
                p{
                    color: $p-color;
                }
            }
        }
    }
}
.is-visible{
    opacity: 1 !important;
    //transform:rotateZ(-2deg) ;
  }

  
 
  
.owl-dots{
    position: absolute;
    top:600px;
    right:50%;
}
#myLinks{
    @media screen and (max-width: 992px) {
        background: #000;
     }
}