@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 992px) {
        flex-direction: column;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 992px) {
        flex-direction: column;
    }
}


